{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class='cart-details'>
        {% for book in bookSelected %}
            <div>
                <div class="item-image">
                    <img src="{{ imagepath ~ book[3] }}" alt="Cover Page" height="70">
                </div>
                <div class="item-details">
                    <img src="{{ imagepath ~ book[3] }}" alt="Cover Page" height="70">
                </div>
                <div class="book-tab">
                    <img src="{{ imagepath ~ book[3] }}" alt="Cover Page" height="70">
                </div>
                <div class="book-tab">
                    <img src="{{ imagepath ~ book[3] }}" alt="Cover Page" height="70">
                </div>
            </div>
        {% endfor %}
    </div>
    <div class='checkout-details'>
        Checkout 
    </div>
</div>
{% endblock %}
