{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class='cart-details'>
        Cart details
    </div>
    <div class='checkout-details'>
        Checkout 
    </div>
</div>
{% endblock %}
