body {
    /* background-color: lightgray; */
}

.page-cover {
    width: 20%;
    float: left;
}

.page-details{
    display: inline-block;
}

.page-details p{
    margin-top: 0;
    color: #9e9e9e;
}

.page-details span{
    color: #1a9cb7;

}

.button {
    background-color: ##f57224; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }